{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v7.0&appId=819459864922023&autoLogAppEvents=1" nonce="1Euinhxn"></script>
    {% include 'article/sub/header.html.twig' %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ article.body }}
                    <p>Placeholder text by
                        <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
                        <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
                    {% for tag in article.tags %}
                        <a href="{{ path('tag_show', {'id': tag.id}) }}" class="badge {{ tag.color }}">#{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </div>

            {{ include('article/sub/comment.html.twig') }}
            {% if is_granted('ROLE_USER') %}
                {{ include('comment/_form.html.twig') }}
            {% endif %}
        </div>
    </article>

    <hr>

    {% include 'article/sub/footer.html.twig' %}

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
